# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build output
dist/
build/

# Dependency directories


# IDEs and editors
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Coverage reports
coverage/

# Temporary files
tmp/
temp/

# Miscellaneous
*.tgz
package-lock.json
yarn.lock
